/Abbonamento.class
/AbbonamentoCoda.class
/AbbonamentoException.class
/ConsoleInput.class
/FileException.class
/GestioneAbbonamento.class
/MainClass.class
/Menu.class
/Nodo.class
/Persona.class
/TextFile.class
/Ordinatore.class
